body{
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-around;
   
    background-color: #1F2937;
    color: white;
}

.header-logo{
    flex:0 0 auto;
}

.header-links{
    display: flex;
    flex: 0 0 auto;
    gap: 10px;

    list-style: none;
    font-size: 18pt;
}

a{
    color: white;
    text-decoration: none;
}

.hero{
    display: flex;
    height: 300px;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;

    background-color: #1F2937;
}

.hero-left{
    width: 600px;
    height: 200px;
    flex: 0 0.25 auto;
    display: flex;
    flex-direction: column;
}

.hero-header{
    font-size: 48px;
    color: #F9FAF8;
    flex: 1 1 auto;
    margin: 10px;
}

.hero-para{
    font-size: 18px;
    color: #E5E7EB;
    flex: 1 1 auto;
    margin: 10px;
}

button{
    height: 30px;
    width: 100px;
    margin: 10px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
}

.hero-right{
    min-width: 0px;
    width: 600px;
    height: 200px;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-pic{
    height: 100%;
    min-width: 0px;
    flex: 0 1 auto;
}