body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 auto;
   
    background-color: #1F2937;
    color: white;
}

.header-logo{
    flex:0 0 auto;
}

.header-links{
    display: flex;
    flex: 0 0 auto;
    gap: 10px;

    list-style: none;
    font-size: 18pt;
}

a{
    color: white;
    text-decoration: none;
}

.hero{
    display: flex;
    min-height: 320px;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;

    background-color: #1F2937;
}

.hero-left{
    width: 600px;
    height: 200px;
    flex: 0 0.25 auto;
    display: flex;
    flex-direction: column;
}

.hero-header{
    font-size: 48px;
    color: #F9FAF8;
    flex: 1 1 auto;
    margin: 10px;
}

.hero-para{
    font-size: 18px;
    color: #E5E7EB;
    flex: 1 1 auto;
    margin: 10px;
}

button{
    height: 30px;
    width: 100px;
    margin: 10px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
}

.hero-right{
    min-width: 0px;
    width: 600px;
    height: 200px;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-pic{
    height: 100%;
    min-width: 0px;
    flex: 0 1 auto;
}

.information-cards{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center; 
    gap: 40px;
}

.information-heading{
    font-size: 48px;
}

.card{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-height: 300px;
    max-width: 200px;
}

.card-cont{
    display: flex;
    gap: 20px;
}

.card img{
    height: 66%;
    width: 100%;
    border: 2px solid #3882F6;

    border-radius: 10px;
}

.testimonial{
    display: flex;
    flex: 1 1 auto;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
    font-style: italic;
}

.call-to-action{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.call-to-action-panel{
    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    width: 1000px;
    height: 200px;
}

.footer{
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}